Django==3.2.5
django-anymail==8.3
psycopg2-binary==2.8.6
django-timezone-field==4.1.2
python-memcached==1.59
django-debug-toolbar==3.2.1
python-coveralls==2.9.3
transliterate==1.10.2
social-auth-app-django==4.0.0
