Django==2.0.3
django-anymail==2.0
psycopg2-binary==2.7.4
django-timezone-field==3.0rc1
python-memcached==1.59
django-debug-toolbar==1.9.1
python-coveralls==2.9.1
transliterate==1.10.1
social-auth-app-django==2.1.0