body {
    padding-top: 0;
}
@media (max-width: 991px) {
    body {
        padding-top: 70px;
    }
}

/***********************************
	CONTAINERS
***********************************/

#main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFFFFF;
}

#navigation {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	color: #FF9900;
	background-color: #FAFAFA;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 15px 5px;
	width: 150px;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	text-align: right;
}

#content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #666666;
	text-decoration: none;
	width: 87%;
	text-align: justify;
	padding: 5px 15px 15px 5px;
	background-color: #FFFFFF;
}

#contentlogin {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	padding: 5px 5px 15px 5px;
	
}

#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #999999;
	padding: 40px 0px 10px 0px;
	text-align: center;
	clear: left;
	background-color: #FFFFFF;
}

/***********************************
	LINKS
***********************************/

a {
	color: #666666;
}

a.small-navigation {
	color: #999999;
	text-decoration: none;
}

a.small-navigation:hover {
	color: #FF9900;
}

.navigation {
	color: #666666;
	border-width: 0px 0px 0px 5px;
	border-color: #DEDEDE;
	border-style: solid;
	text-decoration: none;
	display: block;
	padding: 3px 0px 3px 5px;
	text-align: left;
	font-weight: normal;
}
@media (max-width: 991px) {
    .navigation {
        border-style: none;
    }
    .navbar-nav .nav-link {
        padding: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .navigation {
        padding: 3px 0px 3px 5px;
        border-style: solid;
    }
    .navbar-nav .nav-link {
        padding: 3px 0px 3px 5px;
    }
}

.navigation:hover {
	border-color: #FF9900;
	background-color: #EFEFEF;
	border-style: solid;
	text-decoration: none;
}

/***********************************
	MISCELLANEOUS
***********************************/
#header {
	padding: 5px 0px 5px 0px;
	border-color: #999999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	background-color: #FFFFFF;
	text-align: center;
}

hr {
	width: 100%;
	height: 0px;
	text-align: center;
	border-color: #CCCCCC;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
}

h1 {
	color: #FF9900;
	font-size: 180%;
	text-decoration: none;
	text-align: right;
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	padding: 2px 50px 0px 0px;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #FF9900;
	background-color: #FFFFFF;
}

h2 {
	color: #FF9900;
	font-size: 160%;
	text-decoration: none;
	text-align: right;
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	padding: 2px 50px 0px 0px;
	background-color: #FFFFFF;
}

p {
	border-color: #999999;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
	padding: 0px 0px 10px 0px;
	margin-top: 10px;
}

div.offset {
	margin-left: 100px;
}

i.awesome {
    color: #ff9900;
    padding-left: 20px;
}

/***********************************
	dodao melja
***********************************/

input[type="submit"], input[type="button"] {
	font-weight: bold;
	color: #ff9900;
	height: 26px;
	background: #555;
	border-style: none;
}

input[type="submit"]:hover, input[type="button"]:hover {
	font-weight: bold;
	color: #ff9900;
	height: 26px;
	background: #888;
	border-style: none;
}

.buttonBox {
	text-align: center;
	padding: 5px 0;
	clear: both;
}

.errors {
	font-size: small;
	font-weight: bold;
	text-align: center;
	color: #ff9900;
}
.errors div {
	text-align: left;
}
.errors span {
	text-align: left;
}
.errors input {
	border: 1px solid #ff9900;
}
.errors ul {
	list-style: none;
}

div.number{
	text-align: right;
}

h2.navigation{
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #999999;
	padding: 0px 0px 5px 0px;
	background-color: #FAFAFA;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	width: 150px;
	text-align: center;
}

table.largetable{
	width: 100%;
}

table.mediumtable{
	width: 75%;
}

th.firstcol1 {
	width: 40%;
}

th.number{
	width: 100px;
	text-align: right;
}

td.number{
	text-align: right;
}

td.numbercenter{
	text-align: center;
	font-weight: bold;
}
/* kako ovo moze da bude nasledjeno od td.number? */
td.numberred{
	text-align: right;
	background: #ff4444;
}

td.numbergreen{
	text-align: right;
	background: #00ff00;
}

.tooltip {
	display: block;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/***********************************
	notifications
***********************************/
#notification {
	width:  100%;
	position:  fixed;
	z-index:  9999999999;
	left:  0;
	top:  -50px;
	padding-top:  10px;
	padding-bottom:  10px;
	text-align:  center;
	font-weight:  bold;
	-moz-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	-webkit-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	-o-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	border-bottom-width:  3px;
	border-bottom-style:  solid;
}
.ie6 #notification {
	position: absolute;
}
#notification .close {
	color:  #FFF;
	width:  20px;
	height:  20px;
	position:  absolute;
	right:  7px;
	top:  7px;
	display:  block;
	text-decoration:  none;
	border-radius:  5px;
	line-height:  18px;
}
.information {
	background:  #DBECFF;
	border-bottom-color:  #9FC7F5;
	color:  #2850C1;
}
.information .close {
	background:  #2850C1;
}
#notification .close:hover {
	background:  #000;
}
ul.proposition {
	font-size: 110%;
	padding-left: 20px;
}
