@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Oleo+Script');

body {
    padding-top: 0;
}
@media (max-width: 991px) {
    body {
        padding-top: 70px;
    }
}

:root {

  --color-accent: #7fa8b2;
  --color-font-light: #b9c6c9;
  --color-font-dark: #333;
  --color-title-light: ;
  --color-title-dark: ;
  --color-bg-light: ;
  --color-bg-dark: #02192e;
  --color-selected-head: #2C7F6B;
  --color-inactive-head: #e3e3e3;
  --color-selected-body: #7BBFAF;
  --color-inactive-body: #f2f2f2;
  --color-selected-border: #176a56;
  --color-inactive-border: #ccc;


  --font-family: Montserrat, sans-serif;
  --font-size: 16px;

  /* ~~~~~~~~~~ FOOTER ~~~~~~~~~~ */
	--footer-height: 350px;

	--footer-padding-vertical: 40px;

	--footer-wrapper-width: 100%;
	--footer-wrapper-height: 100%;
}

html,
body {
  width: 100%; height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font: var( --font-size ) var( --font-family );
}

/***********************************
	CONTAINERS
***********************************/

#main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFFFFF;
}

#navigation {
	float: left;
	font: bold .7em Verdana, Arial, Helvetica, sans-serif;
	color: var( --color-bg-dark );
	/* background-color: #FAFAFA; */
	text-decoration: none;
	margin: 0;
	padding: 5px 5px 15px 5px;
	width: 150px;
	border-right: 1px solid var( --color-inactive-border );
	text-align: right;
}

#content {
	font: .7em Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-decoration: none;
	width: 87%;
	text-align: justify;
	padding: 5px 15px 15px 5px;
	background-color: #fff;
}

#contentlogin {
	margin: 0 auto;
	width: 700px;
	padding: 5px 5px 15px 5px;

}

/* #footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #999999;
	padding: 40px 0px 10px 0px;
	text-align: center;
	clear: left;
	background-color: #FFFFFF;
} */



/***********************************
	LINKS
***********************************/

a {
	color: #666666;
}

a.small-navigation {
	color: #999999;
	text-decoration: none;
}

a.small-navigation:hover {
	color: #FF9900;
}

.navigation {
	color: #666666;
	border-width: 0px 0px 0px 5px;
	border-color: #DEDEDE;
	border-style: solid;
	text-decoration: none;
	display: block;
	padding: 3px 0px 3px 5px;
	text-align: left;
	font-weight: normal;
}
@media (max-width: 991px) {
    .navigation {
        border-style: none;
    }
    .navbar-nav .nav-link {
        padding: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .navigation {
        padding: 3px 0px 3px 5px;
        border-style: solid;
    }
    .navbar-nav .nav-link {
        padding: 3px 0px 3px 5px;
    }
}

.navigation:hover {
	border-color: var( --color-bg-dark );
	background-color: #EFEFEF;
	border-style: solid;
	text-decoration: none;
}

/***********************************
	MISCELLANEOUS
***********************************/
#header {
	padding: 5px 0;
	background-color: #FFFFFF;
	text-align: center;
}

#header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#header img {
  display: inline; !important
}



hr {
	width: 100%;
	height: 0px;
	text-align: center;
	border-color: #CCCCCC;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
}

.content-header {
  color: var( --color-bg-dark );
  text-decoration: none;
  margin-bottom: 15px;
  text-align: right;
  font-weight: normal;
  padding: 0;
  border-top:1px solid var( --color-bg-dark );

}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.45em;
}

h4 {
	font-size: 1.3em;
}

p {
  border-bottom: 1px dashed #999;
	padding-bottom: 10px;
	margin-top: 10px;
}

div.offset {
	margin-left: 100px;
}

i.awesome {
    color: var(--color-bg-dark);
    padding-left: 20px;
}

/***********************************
	dodao melja
***********************************/

input[type="submit"], input[type="button"] {
	font-weight: bold;
	color: #67cccc;
	height: 26px;
	background: #555;
	border-style: none;
}

input[type="submit"]:hover, input[type="button"]:hover {
	font-weight: bold;
	color: #ff9900;
	height: 26px;
	background: #888;
	border-style: none;
}

.buttonBox {
	text-align: center;
	padding: 5px 0;
	clear: both;
}

.errors {
	font-size: small;
	font-weight: bold;
	text-align: center;
	color: #ff9900;
}
.errors div {
	text-align: left;
}
.errors span {
	text-align: left;
}
.errors input {
	border: 1px solid #ff9900;
}
.errors ul {
	list-style: none;
}

div.number{
	text-align: right;
}

h2.navigation{
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #999999;
	padding: 0px 0px 5px 0px;
	background-color: #FAFAFA;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	width: 150px;
	text-align: center;
}

table.largetable{
	width: 100%;
}

table.mediumtable{
	width: 75%;
}

th.firstcol1 {
	width: 40%;
}

th.number{
	width: 100px;
	text-align: right;
}

td.number{
	text-align: right;
}

td.numbercenter{
	text-align: center;
	font-weight: bold;
}
/* kako ovo moze da bude nasledjeno od td.number? */
td.numberred{
	text-align: right;
	background: #ff4444;
}

td.numbergreen{
	text-align: right;
	background: #00ff00;
}

.tooltip {
	display: block;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/***********************************
	notifications
***********************************/

.alert-warning {
  color: var( --color-bg-dark ) !important;
  background-color: #caeded !important;
  border-color: #67cccc !important;
}

.close {
  line-height: 1rem !important;
}

#notification {
	width:  100%;
	position:  fixed;
	z-index:  9999999999;
	left:  0;
	top:  -50px;
	padding-top:  10px;
	padding-bottom:  10px;
	text-align:  center;
	font-weight:  bold;
	-moz-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	-webkit-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	-o-box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	box-shadow:  0px 5px 5px rgba(0,  0,  0,  0.15);
	border-bottom-width:  3px;
	border-bottom-style:  solid;
}
.ie6 #notification {
	position: absolute;
}
#notification .close {
	color:  #FFF;
	width:  20px;
	height:  20px;
	position:  absolute;
	right:  7px;
	top:  7px;
	display:  block;
	text-decoration:  none;
	border-radius:  5px;
	line-height:  18px;
}
.information {
	background:  #DBECFF;
	border-bottom-color:  #9FC7F5;
	color:  #2850C1;
}
.information .close {
	background:  #2850C1;
}
#notification .close:hover {
	background:  #000;
}
ul.proposition {
	font-size: 110%;
	padding-left: 20px;
}


/***********************************
	temporary extras
***********************************/

#register-pep-talk {
  border-bottom: none;
  padding-bottom: none;
  margin-top: none;
  font-size: 1.3em;
  line-height: 1.5;
}

.container {
  /* makes the grass look fancily aligned on bottom when empty */
  min-height: calc( 100vh - 110px - 90px );
}

#logo-title {
  font-size: 2.5em;
}

#logo-title:hover {
  text-decoration: none; !important
}

#grass-wrapper {
	position: relative;
	height: 110px;
}

#grass {
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url("../landing/img/grass.png");
	background-size: contain;
}

#grass-wrapper img {
	position: absolute;
	right: 50px;
	bottom: 5px;
	height: 100px;
	z-index: -1;
}

footer {
  height: var( --footer-height );
  padding: var( --footer-padding-vertical ) 0;
  background: var( --color-bg-dark );

	font-size: .75em;
  color: var( --color-font-light );
}

#footer-wrapper {
  width: var( --footer-wrapper-width ); height: var( --footer-wrapper-height );
  margin: auto;

	display: grid;
  grid-template-columns: 5fr 3fr 3fr;
}

footer h1 {
  color: #ccc;
}

footer h2 {
  color: #aaa;
}

footer section {
  width: 90%; height: 80%;
  margin: auto;
  padding: 10px 30px;
  border-right: 1px solid #ffffff22;
  text-align: left;
}

#player-stats {

}

#copyrights-desk,
#copyrights-mob {
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
  padding: 20px 0;
  margin-top: 20px;
}

#copyrights-mob {
	display: none;
}

#cpr-logo {
  width: 40px; height: 40px;
}

#cpr-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  text-align: right;
}

#footer-nav{
  list-style-type: none;
  padding-left: 15px;
}

#footer-nav li {
  margin: 5px 0;
}

#footer-nav a{
  text-decoration: none;
}

#footer-nav a:hover {
  font-weight: bold;
}

#footer-social {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.footer-soc-item {
  float: left;
  font-size: 1.3em;
}

#footer-contact {
  margin-top: 50px;
  line-height: 1.5;
  text-align: center;
}

.title-small {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
}

footer section:last-child {
  border-right: none;
}

@media only screen
  and ( min-width: 1400px ) {
  :root {
    --font-size: 18px;
  }
}

@media only screen
	and ( max-width: 870px ) {
	:root {

			--footer-height: 750px;
			--footer-padding-vertical: 0;

	}


	#footer-wrapper {
		grid-template-columns: 1fr 90% 1fr;
		/* width: auto; */
		grid-template-rows: 120px 270px 220px;
		grid-row-gap: 25px;
		padding: 50px 0;
	}

	footer section {
		height: 100%;
		padding: 0;
		grid-column: 2/3;
		border: none;
		border-bottom: 1px dashed #ccc;
		font-size: 1.3em;
		text-align: center;
		padding-bottom: 25px;
	}

	footer section:last-child {
		border: none;
	}

	#player-stats {
		line-height: 2;
	}

	#copyrights-desk {
		display: none;
	}

	#copyrights-mob {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		border: none;
	}

	#cpr-text {
		font-size: .85em;
	}

	#footer-nav {
		padding-left: 0;
	}

	#footer-nav li {
		line-height: 2;
	}

	#footer-social {
		padding: 0 50px;
	}

}


@media only screen
	and ( max-width: 450px ) {
	:root {
		--font-size: 14px;
	}
}
