html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 280px; /* Margin bottom by footer height */
}

.footer-bs {
    padding: 20px 40px;
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 280px; /* Set the fixed height of the footer here */
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { color:rgba(0,0,0,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgb(102, 102, 102); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color: #0056b3; text-decoration:none; }
.footer-bs .footer-nav h4 {
    color: #FF9900;
    font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgb(102, 102, 102); }
.footer-bs .footer-nav ul.list a:hover { color: #0056b3; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 100%;
    color: #FF9900;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgb(102, 102, 102);}
.footer-bs .footer-social a:hover { color: #0056b3; text-decoration:none; }

.footer-bs .footer-ns h4 {
    color: #FF9900;
    font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(0,0,0,0.10); }
}