{% load i18n %}

<hr/>
<p style="font-weight: bold; color: gray; font-size: x-small">
	{% trans "Automated mail, do not reply." %}
	{% blocktrans %}If you do not want to receive any more mail from sharkz.bet, please log in and change settings at <a href="https://sharkz.bet/profile">profile</a> page.{% endblocktrans %}
</p>
<p style="font-size: x-small; color: gray;">
	Sharkz.bet &mdash; <a href="https://sharkz.bet/">https://sharkz.bet/</a> &mdash; <a href="https://www.facebook.com/sharkzbetpool">{% trans "FB group" %}</a>
</p>