{% extends "base.html" %}
{% load i18n %}
{% load nmk_tags %}

{% block content %}

<h1 class="content-header">{% trans "About us" %}</h1>

<div>
    {% blocktrans %}Naša Mala Kladionica started more than 15 years ago, when bunch of friends decided to have a pool bet on matches in
UEFA Champions League. At that time, we used state of the art in pool betting &mdash; Excel:). Soon enough,
we learned that it is not very convenient to have Excel spreadsheet being sent over e-mail, especially in finals
when there was blanket finish. At these point, leaders were simply deadlocked because no one wanted to bet first!{% endblocktrans %}
</div>
<br/>
<div>
    {% blocktrans %}So, we developed NMK and used it internally for first 10 years! Over time, we started to invite friends and
colleagues to join us for larger events, like World Cups or European Championships. However, from Euro Cup 2020,
    we are opening it with whole world!{% endblocktrans %}
</div>
<br/>
<div>
    {% blocktrans %}In some ways, we are a small startup with an idea to create small, affordable pool betting with <i>realistic</i> chances
to win it (or end up in first 3 places). This is because we don't want thousands of people with unreal
prizes of millions of pounds. We want fair game, nice atmosphere among players and to have fun along
the way. Making matches more interesting to watch and healthy ball busting among your buddies is only a bonus;){% endblocktrans %}
</div>
<br/>
<div>
    {% blocktrans %}As a self-proclaimed startup that we are, we do have a lot of ideas on our mind. Of course, all of them only if
this experiment called "Euro Cup 2020" turns out to be successful. We want to extend to national leagues,
private pools, prizes that goes to charities… If you like these ideas, or have some others, please &ndash; do
<strong>not</strong> hesitate to contact us at <a href="mailto:support@nmk.bet">support@nmk.bet</a>.
We would like to hear what you do or do not like and what other ideas you might have!{% endblocktrans %}
</div>
<br/>
<div style="text-align: right">
    {% blocktrans %}With sincere wishes that you will have fun here for this tournament in Russia,{% endblocktrans %}
    <br/>
    {% blocktrans %}NMK team{% endblocktrans %}
</div>
{% endblock %}
