{% load nmk_tags %}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<title>Kokan - Meljova kladionica :)</title>
	<link type="text/css" rel="stylesheet" href="/static/css/css.css">
</head>

<body>
	<div id="main">

		<div id="header">
			<a href="/"><img width="720" height="120" src="/static/img/logo.png"></a>
		</div>

		<div id="contentlogin">
			<h1>NAŠA MALA KLADIONICA - AKTIVACIJA</h1>
			{% if success %}
			Uspešno si aktivirao nalog. Zezanje može da počne!
			{% is_registration_allowed as is_registration_allowed %}
			{% if is_registration_allowed %}
			{% if player %}
			{% if player.in_money %}
			{% else %}
			<br/>
			<br/>
			<small>
			Ako želiš da igraš u pare, to će te koštati 10€.
			<br/>
			Sve ostale detalje možeš da vidiš na strani sa <a href="/proposition">pravilima</a>.
			</small>
			<br/>
			<br/>

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="LTSLB5DY9345W">
				<input type="hidden" name="custom" value="{{ player.user.username }}">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			{% endif %}
			{% endif %}
			{% endif %}
			{% else %}
			Pogrešna aktivacija
			{% endif %}
			<br/>
			<br/>
			<div>
				<a href="/login">Nazad na prijavu</a>
			</div>
		</div>

		<div id="footer">
			<hr />
			Ukupno prijavljenih igrača: {{ ctx_stats.player_count }}, igrača prijavljenih u pare: {{ ctx_stats.player_money_count }}
			<br />
			Raspored nagrada &mdash; 1. mesto: {{ ctx_stats.reward_money.1 }}€, 2. mesto: {{ ctx_stats.reward_money.2 }}€, 3. mesto: {{ ctx_stats.reward_money.3 }}€
			<br />
			<br />
			All content 2008-2018 Kokan, Melja and OSWD, all rights reserved. <br />
		</div>
	</div>
</body>
</html>