{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="content-header">Administracija kola</h1>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show text-left" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}

<table class="sortable" id="roundForm:rounds">
	<thead>
		<tr>
			<th scope="col">Ime kola</th>
			<th scope="col">Tip kola</th>
			<th scope="col">Postavi aktivno</th>
		</tr>
	</thead>
	<tbody>
		{% for round in rounds %}
		<tr>
			<td>{{ round.name }}
			{% if round.active %}
			<a href="?set_inactive={{ round.id }}">
				<img width="16px" height="16px" border="0" alt="[Deaktiviraj]" src="/static/img/active.png">
			</a>
			{% endif %}
			</td>
			<td>
			{% if round.get_group_type_display == "League" %}
			Ligaško
			{% else %}
			Kup
			{% endif %}
			</td>
			<td>
				{% if not round.active %}
				<a href="?set_active={{ round.id }}">
					<img width="16px" height="16px" border="0" alt="[Aktiviraj]" src="/static/img/active.png">
				</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
	</tfoot>
</table>

<form action="/admin/rounds/edit" method="get">
    <input type="submit" value="Dodaj novo kolo"/>
</form>

{% endblock %}
