{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show text-left" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}

<h1>Administracija mečeva</h1>

<table class="sortable">
	<thead>
		<tr>
			<th scope="col">Kolo</th>
			<th scope="col">Meč</th>
			<th scope="col">Vreme početka</th>
			<th scope="col">1</th>
			<th scope="col">X</th>
			<th scope="col">2</th>
			<th scope="col">Rezultat</th>
		</tr>
	</thead>
	<tbody>
		{% for match in matches %}
		<tr>
			<td>{{ match.round.name }}</td>
			<td>{{ match.home_team.name }} - {{ match.away_team.name }}</td>
			<td>{{ match.start_time }}</td>
			<td>{{ match.odd1 }}</td>
			<td>{{ match.oddX }}</td>
			<td>{{ match.odd2 }}</td>
			<td>
			{% if match.score %}
			{{ match.score }} ({{ match.result }})
			{% else %}
			- (-:-)
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot></tfoot>
</table>

<form action="/admin/matches/edit" method="get">
    <input type="submit" value="Dodaj novi meč"/>
</form>	

{% endblock %}