{% load i18n %}
{% load staticfiles %}

<!doctype html>
<!--suppress XmlHighlighting -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Branko Kokanovic">
        <!-- <link rel="icon" href="../../../../favicon.ico"> -->

        <title>Naša mala kladionica</title>

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

		<link href="{% static "css/css.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/tipsy.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/sticky-footer.css" %}" rel="stylesheet" type="text/css" />
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script src="{% static "js/sorttable.js" %}"></script>
		<script src="{% static "js/jquery.tipsy.js" %}"></script>
		<script type="text/javascript">
			function notify(message, type, timeout) {
				// default values
				message = typeof message !== 'undefined' ? message : 'Hello!';
				type = typeof type !== 'undefined' ? type : 'success';
				timeout = typeof timeout !== 'undefined' ? timeout : 3000;			
				
				// append markup if it doesn't already exist
				if ($('#notification').length < 1) {
					markup = '<div id="notification" class="information"><span>Hello!</span><a class="close" href="#">x</a></div>';
					$('body').append(markup);
				}
				
				// elements
				$notification = $('#notification');
				$notificationSpan = $('#notification span');
				$notificationClose = $('#notification a.close');
				
				// set the message
				$notificationSpan.text(message);
				
				// setup click event
				$notificationClose.click(function (e) {
					document.cookie = "money_info=yes";
					e.preventDefault();
					$notification.css('top', '-50px');
				});
				
				// for ie6, scroll to the top first
				if($.browser.msie && $.browser.version < 7){
					$('html').scrollTop(0);
				}
				
				// hide old notification, then show the new notification
				$notification.css('top', '-50px').stop().removeClass().addClass(type).animate({
					top: 0
				}, 500);
			}
		</script>
	</head>

    {% if not no_menu %}
	<body>
    {% else %}
    <body style="padding-top: 0px;">
    {% endif %}
        {% if not no_menu %}
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top d-lg-none">
            <a class="navbar-brand" href="#">Naša mala kladionica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Navigacija">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/">{% trans "Betting" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/standings">{% trans "Standings" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/results">{% trans "Fixtures" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/profile">{% trans "Profile" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/crew">{% trans "Crews" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/proposition">{% trans "Propositions" %}</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="navigation nav-link dropdown-toggle" href="#" id="dropdown01"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Admin menu" %}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="navigation dropdown-item" href="/admin/rounds">{% trans "Rounds" %}</a>
                            <a class="navigation dropdown-item" href="/admin/matches">{% trans "Matches" %}</a>
                            <a class="navigation dropdown-item" href="/admin/results">{% trans "Results" %}</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/logout">{% trans "Logout" %}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/login">{% trans "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="navigation nav-link" href="/proposition">{% trans "Propositions" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endif %}

        <div id="header">
            <a href="/"><img src="{% static "img/logo.png" %}" class="img-fluid img-responsive mx-auto d-block" alt="logo"></a>
        </div>

        <main role="main" class="container">
            {% if not no_menu %}
            <div class="row">
            {% else %}
            <div class="row justify-content-center">
            {% endif %}
                {% if not no_menu %}
                <div id="navigation" class="col-lg-2 d-none d-lg-block">
                    {% trans "Menu" %}
                    <hr/>

                    {% if user.is_authenticated %}
                    <a href="/" class="navigation">{% trans "Betting" %}</a>
                    <a href="/standings" class="navigation">{% trans "Standings" %}</a>
                    <a href="/results" class="navigation">{% trans "Fixtures" %}</a>
                    <a href="/profile" class="navigation">{% trans "Profile" %}</a>
                    <a href="/crew" class="navigation">{% trans "Crews" %}</a>
                    <a href="/proposition" class="navigation">{% trans "Propositions" %}</a>
                    <a href="/logout" class="navigation">{% trans "Logout" %}</a>
                    {% else %}
                    <a href="/login" class="navigation">{% trans "Login" %}</a>
                    <a href="/proposition" class="navigation">{% trans "Propositions" %}</a>
                    {% endif %}

                    {% if user.is_staff %}
                    <br/>
                    <br/>
                    <br/>

                    {% trans "Admin menu" %}
                    <hr/>
                    <a href="/admin/rounds" class="navigation">{% trans "Rounds" %}</a>
                    <a href="/admin/matches" class="navigation">{% trans "Matches" %}</a>
                    <a href="/admin/results" class="navigation">{% trans "Results" %}</a>
                    {% endif %}
                </div>
                <div id="content" class="col-12 col-lg-10">
                {% else %}
                <div id="content" class="col-12 col-lg-6 text-center">
                {% endif %}

                    {% block content %}{% endblock %}

                </div>
            </div>
        </main>

        <footer class="footer">
            {% trans "Number of registered players" as registered_players_count %}
            {% trans "real money players" as real_money_players_count %}
            {% trans "Prize money" as prize_money %}
            {% trans "1. place" as place1 %}
            {% trans "2. place" as place2 %}
            {% trans "3. place" as place3 %}

            <div class="container">
                <hr />
                <div class="text-muted d-none d-sm-block">
                    {{ registered_players_count }}: <strong>{{ ctx_stats.player_count }}</strong>, {{ real_money_players_count }}: <strong>{{ ctx_stats.player_money_count }}</strong>
                </div>
                <div class="text-muted d-sm-none">
                    {{ registered_players_count }}: <strong>{{ ctx_stats.player_count }}</strong>,
                    <br />
                    {{ real_money_players_count }}: <strong>{{ ctx_stats.player_money_count }}</strong>
                </div>
                <div class="text-muted d-none d-sm-block">
                    {{ prize_money }} &mdash; {{ place1 }}: <strong>{{ ctx_stats.reward_money.1 }}€</strong>, {{ place2 }}: <strong>{{ ctx_stats.reward_money.2 }}€</strong>, {{ place3 }}: <strong>{{ ctx_stats.reward_money.3 }}€</strong>
                </div>
                <div class="text-muted d-sm-none">
                    {{ prize_money }} &mdash; {{ place1 }}: <strong>{{ ctx_stats.reward_money.1 }}€</strong>,
                    <br />
                    {{ place2 }}: <strong>{{ ctx_stats.reward_money.2 }}€</strong>,
                    <br />
                    {{ place3 }}: <strong>{{ ctx_stats.reward_money.3 }}€</strong>
                </div>
                {% if user.is_authenticated %}
                <div class="text-muted d-none d-sm-block">
                    ©2008-2018 {% trans "All questions, wishes and bug reports direct to nmk@kokanovic.org" %}
                </div>
                <div class="text-muted d-sm-none">
                    ©2008-2018 nmk@kokanovic.org
                </div>
                {% endif %}
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	</body>
</html>
