{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Naša mala kladionica</title>
		<link href="{% static "css/css.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/tipsy.css" %}" rel="stylesheet" type="text/css" />
		<script src="{% static "js/sorttable.js" %}"></script>
		<script src="{% static "js/jquery-1.4.2.min.js" %}"></script>
		<script src="{% static "js/jquery.tipsy.js" %}"></script>
		<script type="text/javascript">
			function notify(message, type, timeout) {
				// default values
				message = typeof message !== 'undefined' ? message : 'Hello!';
				type = typeof type !== 'undefined' ? type : 'success';
				timeout = typeof timeout !== 'undefined' ? timeout : 3000;			
				
				// append markup if it doesn't already exist
				if ($('#notification').length < 1) {
					markup = '<div id="notification" class="information"><span>Hello!</span><a class="close" href="#">x</a></div>';
					$('body').append(markup);
				}
				
				// elements
				$notification = $('#notification');
				$notificationSpan = $('#notification span');
				$notificationClose = $('#notification a.close');
				
				// set the message
				$notificationSpan.text(message);
				
				// setup click event
				$notificationClose.click(function (e) {
					document.cookie = "money_info=yes";
					e.preventDefault();
					$notification.css('top', '-50px');
				});
				
				// for ie6, scroll to the top first
				if($.browser.msie && $.browser.version < 7){
					$('html').scrollTop(0);
				}
				
				// hide old notification, then show the new notification
				$notification.css('top', '-50px').stop().removeClass().addClass(type).animate({
					top: 0
				}, 500);
			}
		</script>
	</head>

	<body>
		<div id="main">
			<div id="top-nav">
			{% if user.is_authenticated %}
				<a href="/profile" id="profile">Podešavanja</a>
				|<a href="/password" id="password">Promena lozinke</a>
				 |<a href="/logout" id="logout">Logout</a>
			{% endif %}
			</div>
			
			<div align="center">Igraj srcem, nas ionako nema</div>

			<div id="header">
				<img src="{% static "img/logo.png" %}" width="720" height="120" />
			</div>

			<div id="navigation">
					Meni/Menu
					<hr />
					{% if user.is_authenticated %}
					<a href="/" class="navigation">Klađenje/Betting</a>
					<a href="/results" class="navigation">Rezultati/Results</a>
					<a href="/standings" class="navigation">Tabele/Standings</a>
					<a href="/download" class="navigation">Download</a>
					<a href="/proposition" class="navigation">Pravila/Rules</a>
					{% else %}
					<a href="/login" class="navigation">Login</a>
					<a href="/proposition" class="navigation">Pravila/Rules</a>
					{% endif %}
					<br />
					<br />
					<br />
					{% if user.is_staff %}
					Admin meni
					<hr />
					<a href="/admin/rounds" class="navigation">Kola</a>
					<a href="/admin/matches" class="navigation">Mečevi</a>
					<a href="/admin/results" class="navigation">Rezultati</a>
					{% endif %}
			</div>

			<div id="content">
				{% block content %}{% endblock %}
			</div>

			<div id="footer">
				<hr />
				<br />
				All content 2008-2014 Kokan, Melja and OSWD, all rights reserved. <br />
			</div>
		</div>
	</body>
</html>