{% extends "base.html" %}

{% block content %}
<h1>Download</h1>

<p>
Zbog velikih <a class="small-navigation" href="http://en.wikipedia.org/wiki/Peer_pressure">pritisaka</a>,
otvorena je download sekcija. Na njoj možete naći najnovije wallpaper-e, ringtonove i sve ostalo
čega se administrator ovog sajta (<a class="small-navigation" href="http://en.wikipedia.org/wiki/SpongeBob_SquarePants_(character)">Gumi</a>)
seti!
</p>

<ul>
	<li>
		<a class="small-navigation" href="/static/download/wallpaper-wide.png">Wallpaper</a> za Vaš desktop (1920x1200)
	</li>
	<li>
		<a class="small-navigation" href="/static/download/wallpaper.png">Wallpaper</a> za jadnike bez wide monitora (1280x1024)
	</li>
	<li>
		Prethodni <a class="small-navigation" href="/static/download/pajseri.png">logo</a> sajta (ovde se ništa ne <a class="small-navigation" href="http://en.wikipedia.org/wiki/Recycling">baca</a>)
	</li>
	<li>
		Pogledajte kako je Kokan odigrao <i>sure bet</i> tikete:
			<ul>
				<li><a class="small-navigation" href="/static/download/surebet/tiket1.jpg">Tiket 1</a></li>
				<li><a class="small-navigation" href="/static/download/surebet/tiket2.jpg">Tiket 2</a></li>
				<li><a class="small-navigation" href="/static/download/surebet/tiket3.jpg">Tiket 3</a></li>
				<li><a class="small-navigation" href="/static/download/surebet/tiket4.jpg">Tiket 4</a></li>
			</ul>
	</li>
	<li>Imate predlog za sajt? <a class="small-navigation" href="mailto:dejan.ubovic@nospam.gmail.com">Recite nam</a>
	</li>
</ul>
{% endblock %}