{% extends "base.html" %}
{% load staticfiles %}
{% load nmk_tags %}

{% block content %}

<h1 style="text-align: center;">NAŠA MALA KLADIONICA - ZABORAVLJENA LOZINKA</h1>
{% if reset %}
Uspešno ste resetovali lozinku. U mail-u ćete dobiti link za postavljanje nove lozinke (proveri i spam, za svaki slučaj)
<br/>
<br/>
<div>
    <a href="/login">Nazad na prijavu</a>
</div>
{% else %}
<form method="post" action="/forgotpassword">
    {% csrf_token %}

    <fieldset>
        <table align="center">
        {{ form.as_table }}
        </table>
        <br/>

        <div class="buttonBox">
            <input type="submit" value="Resetuj lozinku" />
        </div>
        <div>
            <a href="/login">Nazad na prijavu</a>
        </div>
</form>
{% endif %}

{% endblock %}