{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load nmk_tags %}

{% block content %}

<h1 class="content-header" style="text-align: center;">{% trans "SHARKZ.BET - PASSWORD RESET" %}</h1>
{% if reset %}
{% trans "Password reset successfully. You will get mail with a link to set new password (check spam folder too, just in case)" %}
<br/>
<br/>
<div>
    <a href="/login">{% trans "Back to login" %}</a>
</div>
{% else %}
<form method="post" action="/forgotpassword">
    {% csrf_token %}

    <fieldset>
        <table align="center">
        {{ form.as_table }}
        </table>
        <br/>

        <div class="buttonBox">
            <input type="submit" value="{% trans "Reset password" %}" />
        </div>
        <div>
            <a href="/login">{% trans "Back to login" %}</a>
        </div>
    </fieldset>
</form>
{% endif %}

{% endblock %}
