{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Leave a crew" %}</h1>

<p>
	{% if error %}
	{{ error }}
	{% else %}
	{% blocktrans %}Huh... are you really sure you want to leave crew <b>{{ group.name }}</b>?{% endblocktrans %}

	<form method="post" action="/groups/{{ group.id }}/leave">
		{% csrf_token %}
		<input value="{% trans "Yes" %}" name="1" type="submit"/>
		<input value="{% trans "No" %}" name="0" type="submit"/>
	</form>
	{% endif %}
</p>

{% endblock %}