{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="content-header">{% trans "Crew deletion" %}</h1>

<p>
	{% if error %}
	{{ error }}
	{% else %}
	{% blocktrans %}Huh... are you really sure you want to delete crew <b>{{ group.name }}</b> and all its members forever?{% endblocktrans %}

	<form method="post" action="/groups/{{ group.id }}/delete">
		{% csrf_token %}
		<input value="{% trans "Yes" %}" name="1" type="submit"/>
		<input value="{% trans "No" %}" name="0" type="submit"/>
	</form>
	{% endif %}
</p>

{% endblock %}
