{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load nmk_tags %}

{% block content %}

<h1 class="content-header">{% trans "Active rounds" %}</h1>
<br/>

<script type="text/javascript">
	function getCookie(cname) {
		let name = cname + "=";
		let decodedCookie = decodeURIComponent(document.cookie);
		let ca = decodedCookie.split(';');
		for(let i = 0; i <ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
  		return "";
	}

	function setCookie(cname, cvalue, exdays) {
		const d = new Date();
		d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
		let expires = "expires="+d.toUTCString();
		document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}

	$(document).ready(function() {
		let pledge_notification = getCookie("pledge_notification");
		if (pledge_notification == "") {
			$("div#pledge_notification_placeholder").show();
			setCookie("pledge_notification", "seen", 365);
		}
	});
</script>

{% is_registration_allowed as is_registration_allowed %}
{% if is_registration_allowed %}
	{% if user.player.in_money %}
		{% if user.player.pledged_donation or not is_registration_allowed %}
		{% else %}
			<div id="pledge_notification_placeholder" style="display: none;">
				<div role="alert" class="alert alert-info alert-dismissible">
			{% blocktrans %}
				If you want, you can 'pledge' to give your earnings to humanitarian cause of your choosing. This
				is preferred way to play NMK. Your name will be shown in different color in standing tables. If you
				are up to it, send mail to admin@nmk.bet to notify us and - thanks!
			{% endblocktrans %}
					<button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}">
            			<span aria-hidden="true">×</span>
        			</button>
				</div>
			</div>

		{% endif %}
	{% else %}
		{% blocktrans %}
		If you want to play in real money, that will cost you 20€.
		You can sign up for this 1h before first match starts latest!
		{% endblocktrans %}

		<br/>
		{% blocktrans %}You can see more detail at the page with <a href="/proposition">propositions</a>.{% endblocktrans %}
		<br/>
		<br/>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="LTSLB5DY9345W">
			<input type="hidden" name="custom" value="{{ current_user.user.email }}">
			<input type="image" src="https://www.paypalobjects.com/{% trans "en_US" %}/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
		<br/>
		<br/>
		<br/>
	{% endif %}
{% endif %}

{% for bet in bets %}
	{% if bet.form %}
		<div class="modal fade" id="modal_{{ bet.round.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel_{{ bet.round.id }}" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{% trans "Confirmation" %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				{% trans "Once you click Final Decision, you will not be able to change bets! Are you really sure?" %}
			  </div>
			  <div class="modal-footer">
				  <button id="submit_{{ bet.round.id }}" type="button" class="btn btn-primary">{% trans "Yes" %}</button>
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
			  </div>
			</div>
		  </div>
		</div>
	{% endif %}
{% endfor %}

<script type="text/javascript">
    $(document).ready(function() {
		{% for bet in bets %}
		{% if bet.form %}
		$("form[name='save_{{ bet.round.id }}'] input[type=button]").click(function() {
			var val = $(this).val();
			if (val == "{% trans "Save" %}") {
				$("input[type=hidden][name='final_save_{{ bet.round.id }}']").remove();
				$('<input type="hidden" />').appendTo($(this).first()).attr('name', 'save_{{ bet.round.id }}').attr('value', 'save_{{ bet.round.id }}');
				$('#save_{{ bet.round.id }}').submit();
			} else {
				$("#modal_{{ bet.round.id }}").modal();
			}
		});

		$('#submit_{{ bet.round.id }}').click(function(){
		    $("#modal_{{ bet.round.id }}").modal('hide');
            $("input[type=hidden][name='save_{{ bet.round.id }}']").remove();
            var form = $('#save_{{ bet.round.id }}');
            $('<input type="hidden" />').appendTo(form.first()).attr('name', 'final_save_{{ bet.round.id }}').attr('value', 'final_save_{{ bet.round.id }}');
            form.submit();
        });
		{% endif %}
		{% endfor %}
	});
</script>

{% if messages %}
    {% for message in messages %}
    <div role="alert" class="alert alert-warning text-center">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% for bet in bets %}
	<table class="mediumtable">
    	<tbody>
    		<tr>
        		<td><h2 style="text-align:left;">{% trans "Round" %}: {{ bet.round.name }}</h2></td>
        		<td style="text-align: right;">({% trans "remaining bet time:" %} <span style="color: #FF0000;">{{ bet.time_left }}</span>)</td>
    		</tr>
		</tbody>
	</table>

	<br/>

	{% if bet.form %}
		{% for error in bet.form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
		{% endfor %}

		<form id="save_{{ bet.round.id }}" name="save_{{ bet.round.id }}" method="post" action="/">
			{% csrf_token %}
			<table class="mediumtable">
				<thead>
					<tr>
						<th scope="col">{% trans "Match" %}</th>
						<th scope="col" style="padding-left: 10px;">1</th>
						<th scope="col" style="padding-left: 10px;">X</th>
						<th scope="col" style="padding-left: 10px;">2</th>
					</tr>
				</thead>
				<tbody>
					{% for field in bet.form %}
					<tr>
						<td><b>{{ field.label_tag }}</b></td>
						{% for radio in field %}
						<td>
							{{ field.errors }}
							{{ radio }}
						</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
            <div class="offset float-right">
                <input class="btn btn-secondary" name="save_{{ bet.round.id }}" value="{% trans "Save" %}" type="button">
                <input class="btn btn-danger" name="final_save_{{ bet.round.id }}" value="{% trans "Final Decision" %}" type="button">
                <i class="fas fa-question-circle fa-lg awesome" data-toggle="collapse" data-target="#explain-betting"></i>
                <div id="explain-betting" class="collapse">
                    <div class="card card-body">
						{% blocktrans %}<strong>Save</strong> &nbsp;&nbsp; remembers your bets. Saved bets will be used even if you
                        don't click "Final Decision" before round starts{% endblocktrans %}
                        <br/>
                        {% blocktrans %}<strong>Final Decision</strong> &nbsp;&nbsp; will persist your bets, so you will not be
                        able to change them anymore, but you will be able to peek into bets of other people{% endblocktrans %}
                    </div>
                </div>
            </div>
        </form>
		<br/>
        <p/>

	{% else %}

	<table class="mediumtable">
		<thead>
			<tr>
				<th scope="col">{% trans "Match" %}</th>
				<th scope="col">{% trans "Bet" %}</th>
				<th scope="col">{% trans "Odd" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for shot in bet.shots %}
			<tr>
				<td><b>{{ shot.match.home_team.name }} - {{ shot.match.away_team.name }}</b></td>
				<td>
				{% if shot.shot != None %}
					{% if shot.shot == 0 %}
					X
					{% else %}
					{{ shot.shot }}
					{% endif %}
				{% else %}
				-
				{% endif %}
				</td>
				<td>
				{% if shot.shot != None %}
					{% if shot.shot == 1 %}
					{{ shot.match.odd1|odd_format:user.player.odd_format }}
					{% elif shot.shot == 0 %}
					{{ shot.match.oddX|odd_format:user.player.odd_format }}
					{% else %}
					{{ shot.match.odd2|odd_format:user.player.odd_format }}
					{% endif %}
				{% else %}
				-
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if bet.round %}
	<div class="offset float-right">
		<a href="/roundstandings/{{ bet.round.id }}" class="btn btn-info btn-sm">{% trans "Other players' bets" %}</a>
	</div>
	<br/>
    <p/>
	{% endif %}

	{% endif %}
	<br/>
	<br/>
{% endfor %}

{% endblock %}
