{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<h1>TRENUTNA KOLA</h1>
<br/>

{% for bet in bets %}
{% if bet.form %}
<div class="modal fade" id="modal_{{ bet.round.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel_{{ bet.round.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Potvrda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Zatvori">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Jednom kada klikneš konačan odgovor, više nećeš moći da menjaš tipove! Da li si stvarno siguran?
      </div>
      <div class="modal-footer">
          <button id="submit_{{ bet.round.id }}"type="button" class="btn btn-primary">Da</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

<script type="text/javascript">
    $(document).ready(function() {
		{% for bet in bets %}
		{% if bet.form %}
		$("form[name='save_{{ bet.round.id }}'] input[type=button]").click(function() {
			var val = $(this).val();
			if (val == "Sačuvaj za sada") {
				$("input[type=hidden][name='final_save_{{ bet.round.id }}']").remove();
				$('<input type="hidden" />').appendTo($(this).first()).attr('name', 'save_{{ bet.round.id }}').attr('value', 'save_{{ bet.round.id }}');
				$('#save_{{ bet.round.id }}').submit();
			} else {
				$("#modal_{{ bet.round.id }}").modal();
			}
		});

		$('#submit_{{ bet.round.id }}').click(function(){
		    $("#modal_{{ bet.round.id }}").modal('hide');
            $("input[type=hidden][name='save_{{ bet.round.id }}']").remove();
            var form = $('#save_{{ bet.round.id }}');
            $('<input type="hidden" />').appendTo(form.first()).attr('name', 'final_save_{{ bet.round.id }}').attr('value', 'final_save_{{ bet.round.id }}');
            form.submit();
        });
		{% endif %}
		{% endfor %}
	});
</script>

{% if messages %}
    {% for message in messages %}
    <div class="entry errors">{{ message }}</div>
    {% endfor %}
{% endif %}

{% for bet in bets %}
	<table class="mediumtable">
    	<tbody>
    		<tr>
        		<td><h2>Kolo: {{ bet.round.name }}</h2></td>
        		<td style="text-align: right;">(preostalo vreme za klađenje: <span style="color: #FF0000;">{{ bet.time_left }}</span>)</td>
    		</tr>
		</tbody>
	</table>
	
	<br/>

	{% if bet.form %}
		{% for error in bet.form.non_field_errors %}
		    <div class="entry errors" style="color: rgb(255, 0, 0);">{{ error }}</div>
		{% endfor %}
		
		<form id="save_{{ bet.round.id }}" name="save_{{ bet.round.id }}" method="post" action="/">
			{% csrf_token %}
			<table class="mediumtable">
				<thead>
					<tr>
						<th scope="col">Utakmica</th>
						<th scope="col" style="padding-left: 10px;">1</th>
						<th scope="col" style="padding-left: 10px;">X</th>
						<th scope="col" style="padding-left: 10px;">2</th>
					</tr>
				</thead>
				<tbody>
					{% for field in bet.form %}
					<tr>
						<td><b>{{ field.label_tag }}</b></td>
						{% for radio in field %}
						<td>
							{{ field.errors }}
							{{ radio }}
						</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
            <div class="offset">
                <input name="save_{{ bet.round.id }}" value="Sačuvaj za sada" type="button">
                <input name="final_save_{{ bet.round.id }}" value="Konačan odgovor" type="button">
                <i class="fas fa-question-circle fa-lg awesome" data-toggle="collapse" data-target="#explain-betting"></i>
                <div id="explain-betting" class="collapse">
                    <div class="card card-body">
                        <strong>Sačuvaj za sada</strong> &nbsp;&nbsp; snima tipove. Snimljeni tipovi će biti važeći i
                        ukoliko ne klikneš "Konačan odgovor" pre početka kola
                        <br/>
                        <strong>Konačan odgovor</strong> &nbsp;&nbsp; snima tipove tako da ne možeš da ih menjaš više,
                        ali zato možeš da vidiš šta su drugi igrali
                    </div>
                </div>
            </div>
        </form>
        <p></p>
	
	{% else %}
	
	<table class="mediumtable">
		<thead>
			<tr>
				<th scope="col">Utakmica</th>
				<th scope="col">Tip</th>
				<th scope="col">Kvota</th>
			</tr>
		</thead>
		<tbody>
			{% for shot in bet.shots %}
			<tr>
				<td><b>{{ shot.match.home_team.name }} - {{ shot.match.away_team.name }}</b></td>
				<td>
				{% if shot.shot != None %}
					{% if shot.shot == 0 %}
					X
					{% else %}
					{{ shot.shot }}
					{% endif %}
				{% else %}
				-
				{% endif %}
				</td>
				<td>
				{% if shot.shot != None %}
					{% if shot.shot == 1 %}
					{{ shot.match.odd1 }}
					{% elif shot.shot == 0 %}
					{{ shot.match.oddX }}
					{% else %}
					{{ shot.match.odd2 }}
					{% endif %}
				{% else %}
				-
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if bet.round %}
	<div class="offset">
		<a href="/roundstandings/{{ bet.round.id }}">Šta su drugi igrali</a>
	</div>
	{% endif %}
	
	{% endif %}
{% endfor %}

{% endblock %}