{% load i18n %}
{% load static %}
{% load nmk_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
  <link rel="stylesheet" href="{% static "landing/css/master.css" %}">
  <title>{% trans "Welcome" %} | Naša Mala Kladionica</title>
</head>
<body>
  <main>
    <section id="welcome">
      <div id="social">
        <a href="https://www.facebook.com/groups/nasamalakladionica/">
          <span class="soc-item fa fa-facebook">
          </span></a>
        <!-- <a href="https://twitter.com/nmkbet">
          <span class="soc-item fa fa-twitter">
          </span></a> -->
      </div>
      <a href="/register?type=any"><div id="register">{% trans "Register" %}</div></a>
      <div id="content-wrapper">
        <div id="welcome-logo">
          <img src="{% static "landing/img/wc2022-logo80w.png" %}" alt="logo">
          <h1 id="logo-title">{% trans "nmk.bet" %}</h1>
          <h3 id="logo-subtitle">{% trans "Bet against your friends and win money!" %}</h3>
        </div>
        <div id="welcome-text">
{% blocktrans %}<strong>nmk.bet</strong> is a unique pool-betting platform, designed specifically for <em>World Cup 2022</em>.
All players can place the same stake before World Cup 2022 starts.
You bet on final score of each match, and points are based on odds &ndash; the higher the odd, more points you get!
We are capping number of players to just 100, so hurry up to register below!
With only 100 players and first 3 places to take prizes, it should be easy to take the money, right?
Well, it just might be, but watch out for other sharks in this pool!
Winner is strongly encouraged to donate money to charity of their choice.{% endblocktrans %}
        </div>
      </div>
      <div id="welcome-bg"></div>
      <div id="welcome-shade"></div>
      <div id="next-step-btn">
        {% trans "Find Out More!" %}
        <div class="fa fa-chevron-down">
        </div>
      </div>
    </section>
    <section id="info">
      <div id="info-wrapper">
        <div class="info-item">
          <div class="item-head">
            <div class="pi pixicon-star"></div>
            <h2 class="info-heading">{% trans "Free To Play" %}</h2>
          </div>
          <div class="item-body">
{% blocktrans %}While the entry fee is relatively low (20€), we think it should never be a requirement to have fun.
When you register on nmk.bet, we don't ask for credit card and there is absolutely no strings attached.
Decide later to play for real money if you want to (but before World Cup 2022 starts!).{% endblocktrans %}
          </div>
        </div>
        <div class="info-item">
          <div class="item-head">
            <div class="pi pixicon-banknote"></div>
            <h2 class="info-heading">{% trans "Real Chances To Win" %}</h2>
          </div>
          <div class="item-body">
{% blocktrans %}Compared to other pool bet web sites with thousands of people and with millions in prizes,
this is the place where your odds of winning the prize are very, very real.
There is only 100 players and first 3 places are winning the money.{% endblocktrans %}
          </div>
        </div>
        <div class="info-item">
          <div class="item-head">
            <div class="pi pixicon-head"></div>
            <h2 class="info-heading">{% trans "Compete Against Friends" %}</h2>
          </div>
          <div class="item-body">
{% blocktrans %}Betting is always more fun with friends.
You don't have to compete against players who are not in your group.
Just invite your crew and compete in your own private pool.
With nmk.bet, you are reaching new levels of friendly ball busting.{% endblocktrans %}
          </div>
        </div>
        <div class="info-item">
          <div class="item-head">
            <div class="pi pixicon-trophy"></div>
            <h2 class="info-heading">{% trans "Enjoy Every Match" %}</h2>
          </div>
          <div class="item-body">
{% blocktrans %}Make all games more interesting. With nmk.bet's friendly environment and players,
every match could be nerve wrecking one if a little bit of stake is involved!{% endblocktrans %}
          </div>
        </div>
      </div>
    </section>
    <section id="plans">
      <div id="plans-intro">
        <h1 class="content-header">{% trans "Pick the fun level" %}</h1>
        <div id="intro-disclaimer">
          {% trans "You can always change your preference later" %}
        </div>
      </div>
      <div id="plans-wrapper">
        <a id="free" class="plans-item" href="/register?type=free">
          <!-- <input class="hack" id="free-chk" type="radio" name="plan" value=""> -->
          <div id="free-head" class="plans-head">
            <h1 class="plan-title">{% trans "Free" %}</h1>
            <h3 class="plan-subtitle">{% trans "Only Pride at Stake" %}</h3>
            <h2 class="price-mob">0€</h2>
          </div>
          <div id="free-body" class="plans-body">
            <p>{% trans "Unlimited Number of People" %}</p>
            <p>{% trans "Invite Friends" %}</p>
            <p>{% trans "Enjoy World Cup for Free" %}</p>
            <p>{% trans "Compare Betting Skills" %}</p>
            <h2 class="price-desk">0€</h2>
          </div>
          <div class="plans-foot">
            <div class="register-btn">
              <span class="reg-btn-desk">{% trans "REGISTER" %}</span>
              <span class="reg-btn-mob fa fa-sign-in"></span>
            </div>
          </div>
        </a>
        <a id="regular" class="plans-item" href="/register?type=regular">
          <!-- <input class="hack" id="regular-chk" type="radio" name="plan" value="" checked> -->
          <div id="regular-head" class="plans-head">
            <h1 class="plan-title">{% trans "Regular" %}</h1>
            <h3 class="plan-subtitle">{% trans "Just For Fun" %}</h3>
            <h2 class="price-mob">20€</h2>
          </div>
          <div id="regular-body" class="plans-body">
            <p>{% trans "100 Players Max" %}</p>
            <p>{% trans "Up to 1000€ Prize Money" %}</p>
            <p>{% trans "Invite Friends" %}</p>
            <p>{% trans "Real Thrill Football" %}</p>
            <h2 class="price-desk">20€</h2>
          </div>
            <div class="plans-foot">
              <div class="register-btn" >
                <span class="reg-btn-desk">{% trans "REGISTER" %}</span>
                <span class="reg-btn-mob fa fa-sign-in"></span>
              </div>
            </div>
        </a>
        <a id="jumbo" class="plans-item" href="/register?type=extra">
          <!-- <input class="hack" id="jumbo-chk" type="radio" name="plan" value=""> -->
          <div id="jumbo-head" class="plans-head">
            <h1 class="plan-title">{% trans "Extra" %}</h1>
            <h3 class="plan-subtitle">{% trans "Coming Soon" %}</h3>
            <h2 class="price-mob">20€</h2>
          </div>
          <div id="jumbo-body" class="plans-body">
            <p>{% trans "200 Players Max" %}</p>
            <p>{% trans "4000€ Prize Pool" %}</p>
            <p>{% trans "Private Pools" %}</p>
            <p>{% trans "Custom Betting Games" %}</p>
            <h2 class="price-desk">20€</h2>
          </div>
            <div class="plans-foot">
              <div class="register-btn">
                <span class="reg-btn-desk">{% trans "REGISTER" %}</span>
                <span class="reg-btn-mob fa fa-sign-in"></span>
              </div>
            </div>
        </a>
      </div>
    </section>
  </main>
  <div id="grass-wrapper">
    <img src="{% static "landing/img/wc2022-ball.webp" %}" alt="ball">
    <div id="grass"></div>
  </div>
  <footer>
    <div id="footer-wrapper">
      <section>
        <div id="player-stats">
            {% trans "Number of registered players" %}: {{ ctx_stats.player_count }} <br>
            {% trans "real money players" %}: {{ ctx_stats.player_money_count }} <br>
            {% trans "Prize money" %}:
            1. {{ ctx_stats.reward_money.1 }}€, 2. {{ ctx_stats.reward_money.2 }}€, 3. {{ ctx_stats.reward_money.3 }}€
        </div>
        <div id="copyrights-desk">
          <img id="cpr-logo" src="{% static "landing/img/wc2022-logo80w.png" %}" alt="nmk.bet logo">
          <span id="cpr-text">{% blocktrans %}©2022 nmk.bet, All rights reserved{% endblocktrans %}</span>
        </div>
      </section>
      <section>
        <span class="title-small">nmk.bet</span>
        <ul id="footer-nav">
          <li><a href="/login">{% trans "Login" %}</a></li>
          <li><a href="/about">{% trans "About us" %}</a></li>
          <li><a href="mailto:support@nmk.bet">{% trans "Contact" %}</a></li>
          <li><a href="/proposition">{% trans "Propositions" %}</a></li>
          <li><a href="/terms">{% trans "Terms & Condition" %}</a></li>
          <li><a href="/privacy">{% trans "Privacy Policy" %}</a></li>
        </ul>
      </section>
      <section>
        <div class="title-small">{% trans "Follow Us" %}</div>
        <div id="footer-social">
          <a href="https://www.facebook.com/groups/nasamalakladionica/">
            <span class="footer-soc-item fa fa-facebook" />
          </a>
          <!-- <a href="https://twitter.com/nmkbet">
            <span class="footer-soc-item fa fa-twitter" />
          </a> -->
        </div>
        <div id="footer-contact">
          {% blocktrans %}Send feedback to: <br>support@nmk.bet{% endblocktrans %}
        </div>
        <div id="copyrights-mob">
          <img id="cpr-logo" src="{% static "landing/img/wc2022-logo80w.png" %}" alt="nmk.bet logo">
          <span id="cpr-text">{% blocktrans %}©2022 nmk.bet, All rights reserved{% endblocktrans %}</span>
        </div>
      </section>
    </div>
  </footer>
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="{% static "landing/js/script.js" %}">
  </script>
</body>
</html>
