{% load nmk_tags %}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<title>Kokan - Meljova kladionica :)</title>
	<link type="text/css" rel="stylesheet" href="/static/css/css.css">
</head>

<body>
	<div id="main">

		<div id="header">
			<img width="720" height="120" src="/static/img/logo.png">
		</div>

		<div id="contentlogin">
			<h1>NAŠA MALA KLADIONICA - PRIJAVA</h1>
			<p style="font-size: 90%;">
			NMK je sajt za rekreativno ili pravo klađenje za Euro 2016. prvenstvo u fudbalu.
			<br/>
			Prijavi se, pozovi ekipu, tipuj utakmice i pokaži da si najbolji kladioničar!
			</p>
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}
				<input type="hidden" value="login" name="login">

				<fieldset>
					<div>
						<label for="login:username">Korisničko ime</label>
						<br/>
						{{ form.username }}
					</div>
					<div>
						<label for="login:password">Lozinka</label>
						<br/>
						{{ form.password }}
					</div>
					{% if form.errors %}
					<div class="errors">Korisničko ime ili lozinka pogrešni. Pokušajte ponovo.</div>
					{% endif %}
					
					{% if form.errors %}
					<div class="buttonBox" style="padding-left: 150px;">
					{% else %}
					<div class="buttonBox">
					{% endif %}
						<input type="submit" value="Prijavi me" />
						<input type="hidden" name="next" value="{{ next }}" />
						{% if form.errors %}
						&nbsp;&nbsp;<a href="/forgotpassword" style="font-size: 11px;">Zaboravio sam lozinku</a>
						{% endif %}
					</div>
					<br/>
					{% is_registration_allowed as is_registration_allowed %}
					{% if is_registration_allowed %}
					<div>
						<a href="/register">Registruj se</a><br/>
						<small>(registracija moguća do sat vremena pred početak prve utakmice - 10.06.2016 20:00!)</small>
					</div>
					{% endif %}
			</form>
		</div>

		<div id="footer">
			<hr/>
			<br/>
			All content 2008-2016 Kokan, Melja and OSWD, all rights reserved. <br>
		</div>
	</div>
</body>
</html>