{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load nmk_tags %}

{% block content %}

<h1 class="content-header">{% trans "NMK - LOGIN" %}</h1>
<p style="font-size: 90%;">
{% blocktrans %}Naša Mala Kladionica is a website for recreational or real money betting for Euro Cup 2020.{% endblocktrans %}
<br/>
{% trans "Sign up, invite your crew, bet and show 'em all who's the best!" %}
<br/>
{% trans "You can read rules and propositions" %} <a href="/proposition">{% trans "here" %}</a>
</p>
<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<input type="hidden" value="login" name="login">

	<fieldset>
		<div>
			<label for="login:username">{% trans "E-mail" %}</label>
			<br/>
			{{ form.username }}
		</div>
		<div>
			<label for="login:password">{% trans "Password" %}</label>
			<br/>
			{{ form.password }}
		</div>
		{% if form.errors %}
		<div class="errors">{% trans "Wrong e-mail or password. Try again." %}</div>
		{% endif %}
    </fieldset>
		{% if form.errors %}
		<div class="buttonBox" style="padding-left: 150px;">
		{% else %}
		<div class="buttonBox">
		{% endif %}
			<input type="submit" value="{% trans "Login" %}" />
			<input type="hidden" name="next" value="{{ next }}" />
			{% if form.errors %}
			&nbsp;&nbsp;<a href="/forgotpassword" style="font-size: 11px;">{% trans "I forgot my password" %}</a>
			{% endif %}
		</div>
		{% trans "or" %}
        <br/>
		<a id="social-login" href="{% url 'social:begin' 'google-oauth2' %}">{% trans "Log In using Google account" %}</a>
		<br/>
        <br/>
		{% is_registration_allowed as is_registration_allowed %}
		{% if is_registration_allowed %}
		<div>
			<a id="register-link" href="/register">{% trans "Don't have an account yet? Register" %}</a><br/>
			<small>{% trans "(registration is allowed until 1h before start of the first match" %} - 20.11.2022 15:00 UTC!)</small>
		</div>
		{% endif %}
</form>
{% endblock %}
