{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="content-header">{% trans "PASSWORD CHANGE" %}</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show text-left" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close" %}>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}

<form method="post" action="/profile/password">
	{% csrf_token %}
	<input name="setpassword" value="setpassword" type="hidden">
	<fieldset>
		<div>
			<div class="content">
				<label class="label">{% trans "Old password" %}*:</label>
				<br/>
				{{ form.old_password }}
				{{ form.old_password.errors }}
    		</div>
    	</div>
    	<div >
    		<div class="content">
    			<label class="label">{% trans "Password" %}:*</label>
    			<br/>
    			{{ form.new_password1 }}
    			{{ form.new_password1.errors }}
    		</div>
    	</div>
    	<div>
        	<div class="content">
        		<label class="label ">{% trans "Password again" %}:*</label>
        		<br/>
        		{{ form.new_password2 }}
        		{{ form.new_password2.errors }}
    		</div>
    	</div>

		<div id="buttonBox">
			<br/>
			<input class="btn btn-secondary btn-sm" value="{% trans "Change" %}" type="submit"/>
		</div>
	</fieldset>
</form>


{% endblock %}
