{% extends "base.html" %}

{% block content %}

<h1>PROMENA LOZINKE</h1>

{% if messages %}
    {% for message in messages %}
    <div class="entry errors">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="post" action="/password">
	{% csrf_token %}
	<input name="setpassword" value="setpassword" type="hidden">
	<fieldset>
		<div>
			<div class="content">
				<label class="label">Stara lozinka/old password:*</label>
				<br/>
				{{ form.old_password }}
				{{ form.old_password.errors }}
    		</div>
    	</div>
    	<div >         
    		<div class="content">
    			<label class="label">Lozinka/New password*:</label>
    			<br/>
    			{{ form.new_password1 }}
    			{{ form.new_password1.errors }}
    		</div>
    	</div>
    	<div>
        	<div class="content">
        		<label class="label ">Potvrdi/New password again:*</label>
        		<br/>
        		{{ form.new_password2 }}
        		{{ form.new_password2.errors }}
    		</div>
    	</div>
		
		<div id="buttonBox">
			<br/>
			<input value="Promeni" type="submit"/>
		</div>
	</fieldset>
</form>


{% endblock %}