{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="content-header">{% trans "THANKS" %}</h1>


{% trans "Thank You for your payment" %}
<br/>
{% if success %}
{% blocktrans %}
Your payment just went through and you have been added to <strong>"Real money"</strong> crew.
Your name will be shown bold in all standings and tables.
{% endblocktrans %}
{% else %}
{% blocktrans %}
You will see your name bolded in all <a href="/standings">standings</a> and tables in the next 24h
(as a sign that you play in real money). If this doesn't happen, feel free to contact admin@nmk.bet.
{% endblocktrans %}
{% endif %}

{% endblock %}
