{% extends "base.html" %}

{% block content %}

<h1>Pravila/Rules</h1>

<ul>
	<li>
	Tipuje se jedno celo kolo na evropskom prvenstvu. U kup fazi se tipuje osmina finala, četvrtfinale, polufinale i finale posebno.
	</li>
	<li>
	Kvote se uzimaju sa sajta <a class="small-navigation" href="http://www.mozzartbet.com">Mozzartbet-a</a> u trenutku kreiranja kola.
	Kvote na NMK se <strong>ne menjaju</strong> posle toga.
	</li>
	<li>
	Ne mora se igrati u novac, tj. novac je opciona stvar. Ako se igra u novac, ulog je 1000 dinara, a pare se dele među prva tri mesta
	i to u odnosu 3:2:1, tj. prvo mesto uzima 50%, drugo 33.3%, a treće 16.6%. Autori sajta <strong>ne uzimaju</strong> nikakvu proviziju.
	Da biste igrali u novac, uplatite 1000 dinara preko PayPal-a na branko [tacka] kokanovic [na] gmail [tacka] com i posaljite mail na istu ovu
	adresu sa Vašim korisničkim imenom, da bismo Vam promenili status.
	</li>
	<li>
	Tipuje se samo konačan ishod meča, i to u regularnom delu utakmice. 
	</li>
	<li>
	Kvote se ne množe već sabiraju. Promašen tip ne utiče na ostale utakmice iz istog ili drugih kola. Ovo se može gledati kao da je svaka
	utakmica singl sam za sebe, a ulog je jedan dinar na svaku utakmicu, tj. ako pogodite kvotu koja je 3.4 - dobijate 3.4 poena.
	</li>
	<li>
 	Ne možete videti šta su drugi tipovali dok ne kliknete na „Konačan odgovor“. Tada možete videti šta su drugi igrali,
 	ali ne znači da su i oni kliknuli isto na „Konačan odgovor“.tj. oni možda još mogu da menjaju svoje tipove. Tek kada
 	prvi meč u kolu počne, to se mogu smatrati konačni tipovi svih takmičara jer je od tog trenutka tipovanje zabranjeno.
	</li>
	<li>Sajt mora uvek da bude stabilno dostupan. Ukoliko sajt nije dostupan duže od 10 minuta po kolu ili primetimo bilo kakve napade koji
	mogu da ugroze takmičenje, sve se prekida i pare se vraćaju.
	</li>
	<li>Ukoliko više učesnika ima isto poena, oni ne dele pare samo od tog mesta koje su osvojili, već od svih mesta koje su osvojili.
	Primer: ako su Pera i Mika prvi i imaju 50 poena, oni dele pare namenjene i za prvo i za drugo mesto, tj. (50% + 33.3%) / 2 = 41.66%.
	Ako je Žika bio ispod njih sa 49 poena, on ne dobija pare za drugo mesto, već za treće, tj. 16.6%.
	</li>
</ul>
</p>

<p>
<ul>
	<li>
	Bets are placed on a complete round. In the cup phase, bets are placed separately on 1/8, quarter finals, semifinals and final match.
	</li>
	<li>
	Odds are taken from site <a class="small-navigation" href="http://www.mozzartbet.com">Mozzartbet-a</a> in the moment of creating a round.
	Odds <strong>are not modified</strong> after this.
	</li>
	<li>
	Bets are placed only on final result, and that only in regular game time. 
	</li>
	<li>
	Odds are not multiplied, but summed. Wrong bet does not affect othre matches from same or other rounds. This is the equivalent of placing the bets as on singles,
	and amount placed is 1 point, e.g. if you win a bet of odd 3.4, you get 3.4 points.
	</li>
	<li>
 	You cannot see placed bets from other players until you click „Final answer“. Then you can see placed bets from other players, but that doesn't mean they also clicked
 	„Final answer“, e.g. they still might be able to change their bets. Only after first match from the round starts, it can be regarded as all bets are frozen.
	</li>
</ul>
</p>

{% endblock %}