{% extends "base.html" %}

{% block content %}

<h1>Pravila</h1>

<p>
Novac je opciona stvar, ne mora se igrati u novac. Kola i grupni deo su isti kao i u Ligi Šampiona. Tipuje se samo konačan ishod meča,
i to u regularnom delu utakmice. Kvote se ne množe već sabiraju. Ne možete videti šta su drugi tipovali dok ne kliknete na „Konačan odgovor“.
Tada možete videti šta su drugi igrali, ali ne znači da su i oni kliknuli isto, tj. tek kada prvi meč u kolu
počne, to su konačni tipovi svih takmičara.
</p>

{% endblock %}