{% extends "base.html" %}
{% load nmk_tags %}

{% block content %}

<h1>Igranje u novac</h1>

<ul class="proposition">
	<li>
	Ne mora se igrati u novac, tj. novac je opciona stvar. Ako se igra u novac, moraš se prijaviti 1h pre početka prve utakmice (14.06.2018 20:00).
	</li>
	<li>
	Ako se igra u novac, ulog je 10€, a pare se dele među prva tri mesta
	i to u odnosu 3:2:1, tj. prvo mesto uzima 50%, drugo 33.3%, a treće 16.6%.
	</li>
	<li>
	NMK snosi troškove provizije i prilikom uplate i prilikom isplate preko PayPal-a.
	Znači, ukoliko je nagrada 100€, NMK ti uplaćuje 103.8€ (da pokrijemo proviziju PayPal-a).
	</li>
	<li>
	Ukupan fond za nagrade je za 10% manji od ukupnog broja ljudi koji su dali pare * 10€.
	Ovo je čisto da pokrijemo provizije i da platimo sajt, ne zarađujemo ni dinara od ovoga.
	</li>
	<li>
	Ukoliko preskočiš ili ne odigraš neko kolo, novac se ne vraća.
	</li>
{% is_registration_allowed as is_registration_allowed %}
{% if is_registration_allowed %}
{% if player %}
{% if player.in_money %}
{% else %}
	<li>
	Kad ti je sve ovo sad jasno, klikni na dugme ispod i učipi se sa 10€. To nije mnogo, a što nas je više &ndash; veća i nagrada! U roku od 24h od uplate, na
	<a href="/standings">tabelama</a> treba da vidiš svoje ime boldovano.
	</li>
<br/>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="LTSLB5DY9345W">
	<input type="hidden" name="custom" value="{{ player.user.username }}">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
{% endif %}
{% endif %}
{% endif %}
</ul>
<br/>

<h1>Pravila</h1>

<ul class="proposition">
	<li>
	Tipuje se jedno celo kolo na takmičenju. U kup fazi se posdebno tipuju osmina finala, četvrtfinale, polufinale i finale.
	</li>
	<li>
	Nema diskriminacije, kvote se uzimaju sa prvog sajta koji ih objavi (da bismo omogućili glasanje što pre), pa bio to Bet365, BWin ili Mozzartbet.
	Kvote na NMK se <strong>ne menjaju</strong> posle toga.
	</li>
	<li>
	Tipuje se samo konačan ishod meča, i to u regularnom delu utakmice. 
	</li>
	<li>
	Svi registrovani nalozi koji ne istipuju prvo kolo se automatski brišu iz sistema (da ne zauzimaju prostor bez potrebe u tabelama).
	</li>
	<li>
	Kvote se ne množe već sabiraju. Promašen tip ne utiče na ostale utakmice iz istog ili drugih kola. Ovo se može gledati kao da je svaka
	utakmica singl sama za sebe, a ulog je jedan poen za svaku utakmicu, tj. ako pogodite kvotu koja je 3.4 - dobijate 3.4 poena.
	</li>
	<li>
 	Ne možete videti šta su drugi tipovali dok ne kliknete na „Konačan odgovor“. Tada možete videti šta su drugi igrali,
 	ali ne znači da su i oni kliknuli isto na „Konačan odgovor“.tj. oni možda još mogu da menjaju svoje tipove. Tek kada
 	prvi meč u kolu počne, to se mogu smatrati konačni tipovi svih takmičara jer je od tog trenutka tipovanje zabranjeno.
	</li>
	<li>Sajt mora uvek da bude stabilno dostupan. Ukoliko sajt nije dostupan duže od 10 minuta po kolu ili primetimo bilo kakve napade koji
	mogu da ugroze takmičenje, sve se prekida i pare se vraćaju.
	</li>
	<li>Ukoliko više učesnika ima isto poena, oni ne dele pare samo od tog mesta koje su osvojili, već od svih mesta koje su osvojili.
	Primer: ako su Pera i Mika prvi i imaju 50 poena, oni dele pare namenjene i za prvo i za drugo mesto, tj. (50% + 33.3%) / 2 = 41.66%.
	Ako je Žika bio ispod njih sa 49 poena, on ne dobija pare za drugo mesto, već za treće, tj. 16.6%.
	</li>
</ul>
<br/>

{% endblock %}