{% extends "base.html" %}
{% load staticfiles %}
{% load nmk_tags %}

{% block content %}

<h1>NAŠA MALA KLADIONICA - REGISTRACIJA</h1>
{% if registered %}
Uspešno si se registrovao. U mail-u ćeš dobiti link za aktivaciju naloga (proveri i spam, za svaki slučaj)
<br/>
<br/>
U međuvremenu, pročitaj <a href="/proposition">uputstva ovde</a>.
<br/>
<br/>
<br/>
<div>
    <a href="/login">Nazad na prijavu</a>
</div>
{% else %}
<form method="post" action="/register">
    {% csrf_token %}
    <input type="hidden" value="login" name="login">

    <fieldset>
        <table align="center">
        {{ form.as_table }}
        </table>
        <br/>

        <div class="buttonBox">
            <input type="submit" value="Registruj se" />
        </div>
        <br/>
        <div>
            <a href="/login">Nazad na prijavu</a>
        </div>
</form>
{% endif %}
{% endblock %}