{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load nmk_tags %}

{% block content %}

<h1>{% trans "SHARKZ.BET - REGISTRATION" %}</h1>
{% if registered %}
{% trans "You successfully registered. You will now receive mail with link to activate your account (check spam folder too, just in case)" %}
<br/>
<br/>
{% blocktrans %}In the meantime, you can read propositions <a href="/proposition">here</a>.{% endblocktrans %}
<br/>
<br/>
<br/>
<div>
    <a href="/login">{% trans "Back to login" %}</a>
</div>
{% else %}
<form method="post" action="/register">
    {% csrf_token %}
    <input type="hidden" value="login" name="login">

    <fieldset>
        <table align="center">
        {{ form.as_table }}
        </table>
        <br/>

        <div class="buttonBox">
            <input type="submit" value="{% trans "Register" %}" />
        </div>
        <br/>
        <div>
            <a href="/login">{% trans "Back to login" %}</a>
        </div>
    </fieldset>
</form>
{% endif %}
{% endblock %}
