{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load nmk_tags %}

{% block content %}

<h1 class="content-header">{% trans "SHARKZ.BET - REGISTRATION" %}</h1>

<form method="post" action="/register">
    {% csrf_token %}
    <input type="hidden" value="login" name="login">

    <fieldset>
        <table align="center">
        {{ form.as_table }}
        </table>
        <br/>

        <div class="buttonBox">
            <input type="submit" value="{% trans "Register" %}" />
        </div>
		{% trans "or" %}
        <br/>
        <a id="social-login" href="{% url 'social:begin' 'google-oauth2' %}">{% trans "Register using Google account" %}</a>
        <br/>
        <br/>
        <br/>
        <div>
            <a href="/login">{% trans "Back to login" %}</a>
        </div>
    </fieldset>
</form>
{% endblock %}
