{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load nmk_tags %}

{% block content %}

<h1 class="content-header" style="text-align: center;">{% trans "SHARKZ.BET - PICK A DISPLAY NAME" %}</h1>
{% if nonvalid %}
{% trans "Invalid request to select display name" %}
{% else %}
    <form method="post" action="/requestdisplayname">
        {% csrf_token %}

        <fieldset>
            <div>{% blocktrans %}Setting display name for user <b>{{ email }}</b>{% endblocktrans %}</div>
            <br/>
            <p id="register-pep-talk">
              Great, your account is created!<br>
              One more step and you can start playing.<br>
              Choose a display name so your friends can recognize you.
            </p>
            <table align="center">
            {{ form.as_table }}
            </table>
            <br/>

            <div class="buttonBox">
                <input type="submit" value="{% trans "Set display name" %}" />
            </div>
            <div>
                <a href="/login">{% trans "Back to login" %}</a>
            </div>
        </fieldset>
    </form>
{% endif %}
{% endblock %}
