{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load nmk_tags %}

{% block content %}

<h1 style="text-align: center;">{% trans "SHARKZ.BET - PASSWORD RESET" %}</h1>
{% if nonvalid %}
{% trans "Invalid request to reset password" %}
{% else %}
    {% if reset %}
    {% trans "Password reset successfully" %}
    <br/>
    <br/>
    <div>
        <a href="/login">{% trans "Back to login" %}</a>
    </div>
    {% else %}
    <form method="post" action="/profile/reset?id={{ id }}">
        {% csrf_token %}

        <fieldset>
            <div>{% blocktrans %}Changing password for user <b>{{ email }}</b>{% endblocktrans %}</div>
            <br/>
            <table align="center">
            {{ form.as_table }}
            </table>
            <br/>

            <div class="buttonBox">
                <input type="submit" value="{% trans "Reset password" %}" />
            </div>
            <div>
                <a href="/login">{% trans "Back to login" %}</a>
            </div>
        </fieldset>
    </form>
    {% endif %}
{% endif %}
{% endblock %}