{% extends "base.html" %}
{% load staticfiles %}
{% load nmk_tags %}

{% block content %}

<h1 style="text-align: center;">NAŠA MALA KLADIONICA - RESET LOZINKE</h1>
{% if nonvalid %}
Neuspešan zahtev za resetovanjem lozinke
{% else %}
    {% if reset %}
    Uspešno si resetovao lozinku.
    <br/>
    <br/>
    <div>
        <a href="/login">Nazad na prijavu</a>
    </div>
    {% else %}
    <form method="post" action="/profile/reset?id={{ id }}">
        {% csrf_token %}

        <fieldset>
            <div>Promena lozinke za korisničko ime <b>{{ username }}</b></div>
            <br/>
            <table align="center">
            {{ form.as_table }}
            </table>
            <br/>

            <div class="buttonBox">
                <input type="submit" value="Resetuj lozinku" />
            </div>
            <div>
                <a href="/login">Nazad na prijavu</a>
            </div>
    </form>
    {% endif %}
{% endif %}
{% endblock %}