<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<title>Kokan - Meljova kladionica :)</title>
	<link type="text/css" rel="stylesheet" href="/static/css/css.css">
</head>

<body>
	<div id="main">

		<div id="header">
			<a href="/"><img width="720" height="120" src="/static/img/logo.png"></a>
		</div>

		<div id="contentlogin">
			<h1 style="text-align: center;">NAŠA MALA KLADIONICA - RESET LOZINKE</h1>
			{% if nonvalid %}
			Neuspešan zahtev za resetovanjem lozinke
			{% else %}
				{% if reset %}
				Uspešno si resetovao lozinku.
				<br/>
				<br/>
				<div>
					<a href="/login">Nazad na prijavu</a>
				</div>
				{% else %}
				<form method="post" action="/profile/reset?id={{ id }}">
					{% csrf_token %}

					<fieldset>
						<div>Promena lozinke za korisničko ime <b>{{ username }}</b></div>
						<br/>
						<table align="center">
						{{ form.as_table }}
						</table>
						<br/>
	
						<div class="buttonBox">
							<input type="submit" value="Resetuj lozinku" />
						</div>
						<div>
							<a href="/login">Nazad na prijavu</a>
						</div>
				</form>
				{% endif %}
			{% endif %}
		</div>

		<div id="footer">
			<hr/>
			<br/>
			All content 2008-2016 Kokan, Melja and OSWD, all rights reserved. <br>
		</div>
	</div>
</body>
</html>