{% extends "base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.1.1/jquery.floatThead.min.js"></script>

<script type="text/javascript">
function refreshPage(sel) {
    var value = sel.value;
    if (value == "") {
    	window.location.href = '/roundstandings/{{ round.id }}';
    } else {
    	window.location.href = '/roundstandings/{{ round.id }}?group=' + encodeURIComponent(value);
    }
}
</script>

<script type="text/javascript">
    apply_floatThead = function() {
        $tbl = $('#roundstandings')
        $top = parseInt($('.navbar').height())+10;
        if ($top < 0) $top = 0;
        $tbl.floatThead('destroy');
        $tbl.floatThead({
            position: 'absolute',
            top: $top,
        });
        $tbl.trigger('reflow');
    };

	$(document).ready(function() {
		$('.tooltip').tipsy({fade: true, delayIn: 500});
		apply_floatThead();
		$(window).resize(function () {
		    apply_floatThead();
		});
	});
</script>

{% if can_see_standings %}

Odaberi ekipu:
<select name="group" id="id_group" onchange="refreshPage(this)">
	{% if selected_group == "" %} 
	<option selected="selected" value="">Svi</option>
	{% else %}
	<option value="">Svi</option>
	{% endif %}
	{% for group in groups %}
		{% if selected_group == group.name %}
		<option selected="selected" value="{{ group.name }}">{{ group.name }}</option>
		{% else %}
		<option value="{{ group.name }}">{{ group.name }}</option>
		{% endif %}
	{% endfor %}
</select>
{% if groups %}
{% else %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(hej, pa ti nemaš nijednu ekipu, napravi ekipu na <a href="/profile">profil</a> strani i pozovi ortake!)
{% endif %}
<br/>
<br/>

<div class="table-responsive">
    <table id="roundstandings" class="sortable">
        <thead style="height: 40px">
            <tr>
                <th>#</th>
                <th class="firstcol" rowspan="2">Korisnik</th>
                {% for match in matches %}
                <th class="sorttable_nosort">
                    {% ifequal match.round.get_group_type_display "League" %}
                    <a href="/results/league">
                    {% else %}
                    <a href="/results/cup">
                    {% endifequal %}
                    {{ match.home_team.name }} - {{ match.away_team.name }}</a>
                </th>
                {% endfor %}
                <th class="sortable number">∑</th>
            </tr>
        </thead>
        <tbody>
            {% for round_standing in round_standings %}
            <tr style="height: 40px">
                {% if round_standing.user_round.username == user.username %}
                <td style="background: rgb(204, 204, 204);">
                {% else %}
                <td>
                {% endif %}
                    {{ round_standing.position }}.
                </td>
                {% if round_standing.user_round.username == user.username %}
                <td style="background: rgb(204, 204, 204);">
                {% else %}
                <td>
                {% endif %}
                {% if round_standing.user_round.in_money %}
                    <b>{{ round_standing.user_round.full_name }}</b>
                {% else %}
                    {{ round_standing.user_round.full_name }}
                {% endif %}
                </td>
                {% for shot in round_standing.shots %}
                {% if shot.match_result != None %}
                    {% ifequal shot.shot shot.match_result %}
                    <td class="numbergreen">
                    {% else %}
                    <td class="numberred">
                    {% endifequal %}
                {% else %}
                <td class="number">
                {% endif %}
                {% if shot.shot == 0 %}
                X
                {% else %}
                {{ shot.shot }}
                {% endif %}
                </td>
                {% empty %}
                {% for match in matches %}
                <td class="number">
                <a title="{{ match.home_team.name }} - {{ match.away_team.name }}" class="tooltip">-</a>
                </td>
                {% endfor %}
                {% endfor %}
                {% if round_standing.user_round.username == user.username %}
                <td class="number" style="background: rgb(204, 204, 204);">
                {% else %}
                <td class="number">
                {% endif %}
                    {{ round_standing.user_round.points }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot style="height: 40px">
            <tr>
                <td></td>
                <td>Kvota</td>
                {% for match in matches %}
                {% if match.result == 1 %}
                <td class="sorttable_nosort numbercenter">{{ match.odd1 }}</td>
                {% elif match.result == 0 %}
                <td class="sorttable_nosort numbercenter">{{ match.oddX }}</td>
                {% elif match.result == 2 %}
                <td class="sorttable_nosort numbercenter">{{ match.odd2 }}</td>
                {% else %}
                <td class="sorttable_nosort">
                <table width="100%">
                    <tr><td style="text-align: center;">({{ match.odd1 }})</td></tr>
                    <tr><td style="text-align: center;">({{ match.oddX }})</td></tr>
                    <tr><td style="text-align: center;">({{ match.odd2 }})</td></tr>
                </table>
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td></td>
                <td>Tačan rezultat</td>
                {% for match in matches %}
                <td class="numbercenter">
                    {% if match.result != None %}
                    {{ match.result }} ({{ match.score }})
                    {% else %}
                    -
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>

<br/>
<br/>
* Korisnici koji igraju u pare su boldovani

{% else %}
<div class="entry errors">
	<ul>
		<li>Nemaš prava da pogledaš tipovanja ostalih korisnika dok i ti ne istipuješ rezultate za ovo kolo.</li>
	</ul>
</div>

{% endif %}
{% endblock %}