{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
function refreshPage(sel) {
    var value = sel.value;
    if (value == "") {
    	window.location.href = '/roundstandings/{{ round.id }}';
    } else {
    	window.location.href = '/roundstandings/{{ round.id }}?group=' + encodeURIComponent(value);
    }
}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('.tooltip').tipsy({fade: true, delayIn: 500});
	});
</script>

{% if can_see_standings %}

Odaberi ekipu/choose a group:
<select name="group" id="id_group" onchange="refreshPage(this)">
	{% if selected_group == "" %} 
	<option selected="selected" value="">Svi/All</option>
	{% else %}
	<option value="">Svi/All</option>
	{% endif %}
	{% for group in groups %}
		{% if selected_group == group.name %}
		<option selected="selected" value="{{ group.name }}">{{ group.name }}</option>
		{% else %}
		<option value="{{ group.name }}">{{ group.name }}</option>
		{% endif %}
	{% endfor %}
</select>
<br/>
<br/>

<table id="roundstandings" class="sortable">
	<thead style="height: 40px">
		<tr>
			<th class="firstcol" rowspan="2">Korisnik/Player</th>
			{% for match in matches %}
			<th class="sorttable_nosort">
				{% ifequal match.round.get_group_type_display "League" %}
				<a href="/results/league">
				{% else %}
				<a href="/results/cup">
				{% endifequal %}
				{{ match.home_team.name }} - {{ match.away_team.name }}</a>
			</th>
			{% endfor %}
			<th class="sortable number">∑</th>
		</tr>
	</thead>
	<tbody>
		{% for round_standing in round_standings %}
		<tr style="height: 40px">
			<td>
			{% if round_standing.user_round.user.player.in_money %}
				<b>{{ round_standing.user_round.user.first_name }} {{ round_standing.user_round.user.last_name }}</b>
			{% else %}
				{{ round_standing.user_round.user.first_name }} {{ round_standing.user_round.user.last_name }}
			{% endif %}
			</td>
			{% for shot in round_standing.shots %}
			{% if shot.match.result != None %}
				{% ifequal shot.shot shot.match.result %}
				<td class="numbergreen">
				{% else %}
				<td class="numberred">
				{% endifequal %}
			{% else %}
			<td class="number">
			{% endif %}
			<a title="{{ shot.match.home_team.name }} - {{ shot.match.away_team.name }}" class="tooltip">{{ shot.shot }}</a>
			</td>
			{% empty %}
			{% for match in matches %}
			<td class="number">
			<a title="{{ match.home_team.name }} - {{ match.away_team.name }}" class="tooltip">-</a>
			</td>
			{% endfor %}
			{% endfor %} 
			<td class="number">{{ round_standing.user_round.points }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot style="height: 40px">
		<tr>
			<td>Kvota/Odd</td>
			{% for match in matches %}
			{% if match.result == 1 %}
			<td class="sorttable_nosort numbercenter">{{ match.odd1 }}</td>
			{% elif match.result == 0 %}
			<td class="sorttable_nosort numbercenter">{{ match.oddX }}</td>
			{% elif match.result == 2 %}
			<td class="sorttable_nosort numbercenter">{{ match.odd2 }}</td>
			{% else %}
			<td class="sorttable_nosort">
			<table width="100%">
				<tr>
					<td style="padding-left: 10px;">({{ match.odd1 }})</td>
					<td style="text-align: center;">({{ match.oddX }})</td>
					<td style="text-align: right; padding-right: 10px;">({{ match.odd2 }})</td>
				</tr>
			</table>
			</td>
			{% endif %}
			{% endfor %}
		</tr>
		<tr>
			<td>Tačan rez./Correct score</td>
			{% for match in matches %}
			<td class="numbercenter">
				{% if match.result != None %}
				{{ match.result }} ({{ match.score }})
				{% else %}
				-
				{% endif %}
			</td>
			{% endfor %}
		</tr>
	</tfoot>
</table>

<br/>
<br/>
* Korisnici koji igraju u pare su boldovani
<br/>
* Players that play in money are shown in bold

{% else %}
<div class="entry errors">
	<ul>
		<li>Nemate prava da pogledate tipovanja ostalih korisnika dok Vi ne istipujete rezultate za ovo kolo.</li>
		<li>You are not allowed to see bets of other players until You place a bet for this round.</li>
	</ul>
</div>

{% endif %}
{% endblock %}