{% extends "base.html" %}

{% block content %}

<h1>PROMENA LOZINKE</h1>

{% if messages %}
    {% for message in messages %}
    <div class="entry errors">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="post" action="/settings">
	{% csrf_token %}
	<input name="setpassword" value="setpassword" type="hidden">
	<fieldset>
		<div id="setpassword:j_id33">
			<div class="content">
				<label for="setpassword:j_id33:oldPassword" class="label">Stara lozinka:*</label>
				<br/>
				{{ form.old_password }}
    		</div>
    	</div>
    	<div id="setpassword:j_id46">         
    		<div class="content">
    			<label for="setpassword:j_id46:password" class="label">Lozinka*:</label>
    			<br/>
    			{{ form.new_password1 }}
    		</div>
    	</div>
    	<div id="setpassword:j_id59">
        	<div class="content">
        		<label for="setpassword:j_id59:verify" class="label ">Potvrdi:*</label>
        		<br/>
        		{{ form.new_password2 }}
    		</div>
    	</div>
		
		<div id="buttonBox">
			<br/>
			<input value="Promeni" type="submit"/>
		</div>
	</fieldset>
</form>


{% endblock %}