{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script type="text/javascript">
function refreshPage(sel) {
    var value = sel.value;
    if (value == "") {
    	window.location.href = '/standings';
    } else {
    	window.location.href = '/standings?group=' + encodeURIComponent(value);
    }
}

$(document).ready(function() {
    // $('[data-toggle="popover"]').popover()
    $('html').click(function(e) {
        $('[data-toggle="popover"]').popover('hide');
        $('[data-toggle="popover"]').popover('hide');
    });

    $('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'manual'
    }).click(function(e) {
        $(this).popover('toggle');
        e.stopPropagation();
    });

    var $table = $('table.standings');
    $table.floatThead({
        responsiveContainer: function($table){
            return $table.closest('.table-responsive');
        },
        top: function() {
		    $top = parseInt($('.navbar').height())+16;
		    return $top;
    	}
    });
});
</script>

{% trans "Choose a crew" %}:
<select name="group" id="id_group" onchange="refreshPage(this)">
	{% if selected_group == "" %} 
	<option selected="selected" value="">{% trans "All" %}</option>
	{% else %}
	<option value="">{% trans "All" %}</option>
	{% endif %}
	{% for group in groups %}
		{% if selected_group == group.name %}
		<option selected="selected" value="{{ group.name }}">{{ group.name }}</option>
		{% else %}
		<option value="{{ group.name }}">{{ group.name }}</option>
		{% endif %}
	{% endfor %}
</select>
{% if groups %}
{% else %}
<i class="fas fa-question-circle fa-lg awesome" data-toggle="popover"
   data-content="{% blocktrans %}(hey, seems you are not member of any crew. Create your crew at <a href=&quot;/crew&quot;>crew</a> page and invite your buddies){% endblocktrans %}"></i>
{% endif %}
<br/>
<br/>

<div>{% trans "Tip: click on the round to look only at that round's results!" %}</div>
<br/>

<div class="table-responsive">
    <table class="standings sortable largetable">
        <thead>
            <tr style="height: 30px;">
                <th>#</th>
                <th class="firstcol1">{% trans "Player" %}</th>
                {% for round in rounds %}
                {% if selected_group == "" %}
                    <th class="number"><a href="/roundstandings/{{ round.id }}">{{ round.name }}</a></th>
                {% else %}
                    <th class="number"><a href="/roundstandings/{{ round.id }}?group={{ selected_group|urlencode }}">{{ round.name }}</a></th>
                {% endif %}
                {% endfor %}
                <th class="number">∑</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in standings %}
            {% if standing.0.user.email == user.email %}
            <tr style="background: rgb(204, 204, 204);">
            {% else %}
            <tr style="height: 30px">
            {% endif %}
                <td>{{ standing.3 }}.</td>
                <td>
                {% if standing.0.user.player.in_money %}
                    <b>{{ standing.0.user.first_name }}</b>
                {% else %}
                    {{ standing.0.user.first_name }}
                {% endif %}
                </td>
                {% for round_standing in standing.1 %}
                <td class="number">{{ round_standing }}</td>
                {% endfor %}
                <td class="number">{{ standing.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<br/>
<br/>
* {% trans "Players playing in real money are shown bolded" %}

{% endblock %}