{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
function refreshPage(sel) {
    var value = sel.value;
    if (value == "") {
    	window.location.href = '/standings';
    } else {
    	window.location.href = '/standings?group=' + encodeURIComponent(value);
    }
}
</script>

Odaberi ekipu:
<select name="group" id="id_group" onchange="refreshPage(this)">
	{% if selected_group == "" %} 
	<option selected="selected" value="">Svi</option>
	{% else %}
	<option value="">Svi</option>
	{% endif %}
	{% for group in groups %}
		{% if selected_group == group.name %}
		<option selected="selected" value="{{ group.name }}">{{ group.name }}</option>
		{% else %}
		<option value="{{ group.name }}">{{ group.name }}</option>
		{% endif %}
	{% endfor %}
</select>
<br/>
<br/>

<table class="sortable mediumtable">
	<thead>
		<tr>
			<th>#</th>
			<th class="firstcol1">Takmičar</th>
			{% for round in rounds %}
			{% if selected_group == "" %}
				<th class="number"><a href="/roundstandings/{{ round.id }}">{{ round.name }}</a></th>
			{% else %}
				<th class="number"><a href="/roundstandings/{{ round.id }}?group={{ selected_group|urlencode }}">{{ round.name }}</a></th>
			{% endif %}
			{% endfor %}
			<th class="number">∑</th>
		</tr>
	</thead>
	<tbody>
		{% for standing in standings %}
		{% if standing.0.user.username == user.username %}
		<tr style="background: rgb(204, 204, 204);">
		{% else %}
		<tr>
		{% endif %}
			<td>{{ standing.3 }}.</td>
			<td>
			{% if standing.0.user.player.in_money %}
				<b>{{ standing.0.user.first_name }} {{ standing.0.user.last_name }}</b>
			{% else %}
				{{ standing.0.user.first_name }} {{ standing.0.user.last_name }}
			{% endif %}
			</td>
			{% for round_standing in standing.1 %}
			<td class="number">{{ round_standing }}</td>
			{% endfor %}
			<td class="number">{{ standing.2 }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot></tfoot>
</table>

<br/>
<br/>
* Korisnici koji igraju u pare su boldovani

{% endblock %}